#calculator-section{
    width: 100%;
    background-color: whitesmoke;
    padding: 1em;
}

#calculator-container{
    background-color: white;
    padding: 3em;
    margin-top: 2em;
    border-radius: 10px;
}

#calculator-title{
    font-size: 2em;
    text-align: center;
}

.section-title{
    font-size: 1.2em;
    margin-top: 1.2em;
}

input[type="radio"]{
  display: none;
}

label{
  margin-top: 10px;
  position: relative;
  color:#334961;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  cursor: pointer;
  border: 2px solid #334961;  
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
input[type="radio"]:checked + label{
  background-color: #334961;
  color: white;
}

#age-input{
  width: 100%;
  margin-top: 10px;
  border: 2px solid #334961;
  border-radius: 5px;
  padding: 10px;
  font-size: 1em;
  color: #334961;
}

.hidden{
  display: none;
}

.visible{
  display: block;
}