@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Lora&family=Merriweather&family=Montserrat&family=Niconne&family=Roboto&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'lora', sans-serif;
    background:url("../assets/bg_cover.png") no-repeat center center fixed;
    background-size: cover;
}

.full-section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
}

#logo{
    font-size: 2em;
    color: white;
    font-weight: bold;
    font-family: 'Hammersmith One', sans-serif;
}

#nav-items{
    display: flex;
    flex-direction: row;
}

.nav-item{
    margin-left: 5rem;
    font-size: 1em;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.nav-item:hover{
    color: #FF9945;
    cursor: pointer;
}

.nav-item::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #FF9945;
    transition: width 0.3s;

}

.nav-item:hover::after{
    width: 100%;
    transition: width 0.3s;
    cursor: pointer;
}

#login-btn{
    margin-left: 5rem;
    background-color: #FF9945;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 0.5em 1.5em;
    font-size: 1em;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

#main-content{
    padding: 2em;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.text-large{
    font-size: 3.2em;
    color: white;
    margin: 0;
}

.orange-txt{
    display: inline;
    color: #FF9945;
}

#sub-section{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-small{
    font-size: 1.1em;
    font-weight: lighter;
    color: white;
    width: 60%;
    margin: 0;
}


#explore-btn{
    background-color: #FF9945;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 0.5em 1.5em;
    color: black;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}

#services{
    width: 100%;
    height: fit-content;
    padding: 2em;
    border-radius: 97px 97px 0px 0px;
    background: #334961;
    box-shadow: 0px -31px 49px 23px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}

#services-title{
    font-size: 2em;
    color: white;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#services-box-div{
    margin-top:2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#box-1{
    background: url(../assets/box-1.jpg) center center no-repeat;
}

#box-2{
    background: url(../assets/box-2.jpg) center center no-repeat;
}

#box-3{
    background: url(../assets/box-3.jpg) center center no-repeat;
}

#why-canada{
    background-color: white;
    padding: 2em;
    display: flex;
    flex-direction: row;
}

#image-box{
    width: 40%;
    border-radius: 37px;
    border: 1px solid #F00;
    aspect-ratio: 1/1;
    background: url(../assets/why-canada.jpg) lightgray 50% / cover no-repeat;
}


.flip-card {
    background-color: transparent;
    width: 30%;
    height: 400px;
    perspective: 1000px;
    border-radius: 15px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 15px;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #FF9945;
    color: white;
    transform: rotateY(180deg);
  }

  .box-card-text{
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    color: rgb(243, 243, 243);
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    height: 100%;
    backdrop-filter: grayscale(60%) blur(5px);    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

#why-canada-text{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2em;
    justify-content: space-evenly;
}

#why-canada-title{
    font-size: 4em;
    color:  #334961;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#why-canada-subtitle{
    font-size: 1em;
    color:  #334961;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#canada-title-text{
    display: inline-block;
    color: #F22316;
    font-family: 'Lora', sans-serif;
    font-size: 76px;
    font-style: normal;
}

#interests-section{
    width: 100%;
    height: fit-content;
    padding: 2em;
    background-color: #334961;
    box-sizing: border-box;
}

#interests-title{
    font-size: 2em;
    color: white;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#interests-div{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    margin-top: 2em;
}

.interest-box{
    text-align: center;
    border-radius: 20px;
    background: #334961;
    color: rgb(221, 221, 221);
    box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.25), 2px 4px 10px -4px rgba(255, 255, 255, 0.25) inset;
    padding: 1em 2em;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s linear;
}

.interest-box:hover{
    background: #7c7c7c;
    color: white;
    cursor: pointer;
}

#interests-footer{
    font-size: 1em;
    text-align: center;
    color: rgb(179, 178, 178);
    margin-top: 2em;
}

a{
    color: rgb(223, 223, 223);
}

#best-experience-section{
    width: 100%;
    height: 90vh;
    background: url(../assets/bestExperience.png);
    background-size: cover;
    background-position: center;
    padding: 2em;
    box-sizing: border-box;
}

#best-experience-text{
   text-align: center;
   font-size: 3em;
   color: #334961;
}

#best-text{
    color: red;
    display: inline-block;
    font-family: 'Niconne', sans-serif;
}

#contact-section{
    width: 100%;
    height: fit-content;
    padding: 2em;
    background-color: #334961;
    box-sizing: border-box;
}

#contact-title{
    font-size: 2em;
    color: white;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#contact-subtitle{
    font-size: 1.5em;
    color: rgb(177, 177, 177);
    margin-top: 0.5em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

#email-form{
     width: 60%;
    height: 3em;
}
#email-input{
    width: 100%;
    height: 100%;
    font-size: 1em;
    border-radius: 20px;
    border: none;
    padding-left: 1em;
    box-sizing: border-box;
    margin-bottom: 1em;
    border-radius: 29px;
    color: white;
    background: #334961;
    box-shadow: 5px 5px 10px 6px rgba(0, 0, 0, 0.25) inset, -4px -4px 5px -5px rgba(255, 255, 255, 0.17) inset;
}

#submit-btn{
    border-radius: 29px;
    background: #334961;
    box-shadow: -4px -4px 7px -4px rgba(255, 255, 255, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    color: rgb(177, 177, 177);;
    font-size: 1em;
    padding: 0.5em 1em;
    margin-top: 1em;
    transition: background-color 0.5s ease;
}

#submit-btn:hover{
    cursor: pointer;
    background-color: #535353;
    color: white;
}

#testimonial_area{
    padding:2em;
    background-color: #F5F5F5;
}

.box-area{
    padding: 20px;
    position: relative;
    display: block;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 20px #6EAFF6;
    transition: 0.5s;
    margin: 20px 0;
    font-family: 'Merriweather', serif;
    opacity: 0.8;
    color: #334961;
    height: fit-content;
}

.box-area > .content , .box-area > .name{
    font-size: 15px;
}

.owl-item.active.center > .box-area{
    box-shadow: 0px 4px 20px #292929;
    background-color: #334961;
    opacity: 1;
    color: #D9D9D9;
}

.owl-item.active.center > .box-area > .content{
    font-size: 18px;
}

.owl-item.active.center > .box-area > .location{
    color: #D9D9D9;
}

.quote-area{
    color: #FF9945;
    width: inherit;
    font-family: "Montserrat", sans-serif;
    text-align: left;
    font-size: 96px;
    font-style: italic;
    font-weight: 600;
    line-height: 90.5px; /* 94.271% */
}

.name{
    margin-top: 1em;
    font-size: 1.5em;
    color: #FF9945;
}

.location{
    color:#334961;
}

#testimonial_area .owl-nav{
    position: absolute;
    top: 50%;
    width: 100%;
}

#testimonial_area .owl-prev,
#testimonial_area .owl-next
{
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: blue;
    border-radius: 50%;
    text-align: center;
    background: #fff;
    position: absolute;
}

#testimonial_area .owl-prev{
    left:-60px;
    top:-30px;
}

#testimonial_area .owl-next{
    right:-60px;
    top:-30px
}

.dot{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #D9D9D9;
    margin: 10px;
}

.dot.active{
    background-color: #334961;
}

.dots-container{
    align-items: center;
    justify-content: center;

}

@media(max-width:750px){
    #main-content{
        width: 100%;
        padding: 2em;
    }

    #main-content > .text-large{
        font-size: 2.5em;
    }

    #sub-section > .text-small{
        margin-top: 70%;
        font-size: 1em;
        width: 100%;
    }

    #why-canada{
        flex-direction: column;
    }

    #image-box{
        width: 100%;
        height: 50vh;
        border-radius: 37px;
        border: 1px solid #F00;
        aspect-ratio: 1/1;
        background: url(../assets/why-canada.jpg) lightgray 50% / cover no-repeat;
    }

    #why-canada-text{
        width: 100%;
        padding-left: 0;
        padding-top: 1em;
    }

    #why-canada-title{
        font-size: 2em;
        text-align: center;
    }

    #why-canada-subtitle{
        font-size: 1em;
        text-align: center;
    }

    #canada-title-text{
        font-size: 40px;
    }

    #interests-section{
        padding: 1em;
    }

    #interests-title{
        font-size: 1.5em;
    }

    #interests-div{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    #interests-footer{
        font-size: 0.8em;
    }

    #best-experience-section{
        height: 50vh;
    }

    #best-experience-text{
        font-size: 1.5em;
    }

    #contact-section{
        padding: 1em;
    }

    #contact-title{
        font-size: 1.5em;
    }

    #contact-subtitle{
        font-size: 1em;
    }

    #email-form{
        width: 80%;
    }

    #email-input{
        font-size: 0.8em;
    }

    #submit-btn{
        font-size: 0.8em;
    }

    #services-box-div{
        flex-direction: column;
    }

    .flip-card{
        width: 100%;
        margin-bottom: 3em;
    }

    #sub-section{
        flex-direction: column ;
    }

    .text-large{
        font-size: 2.5em;
        text-align: center;
    }

    .text-small{
        font-size: 1em;
        text-align: center;
        width: 100%;
        margin-bottom: 2em;
    }

    #nav-items{
        display: none;
    }

    .full-section{
        height: fit-content;
    }

    #services{
        border-radius: 20px;
    }

    #testimonial_area .owl-prev,
#testimonial_area .owl-next{
    display: none;
}
}


