@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Lora&family=Montserrat&family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'lora', sans-serif;
    background:url("../assets/bg_cover.png") no-repeat center center fixed;
}

.full-section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
}

#logo{
    font-size: 2em;
    color: white;
    font-weight: bold;
    font-family: 'Hammersmith One', sans-serif;
}

#nav-items{
    display: flex;
    flex-direction: row;
}

.nav-item{
    margin-left: 5rem;
    font-size: 1em;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#login-btn{
    margin-left: 5rem;
    background-color: #FF9945;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 0.5em 1.5em;
    font-size: 1em;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

#main-content{
    padding: 2em;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.text-large{
    font-size: 3.2em;
    color: white;
    margin: 0;
}

.orange-txt{
    display: inline;
    color: #FF9945;
}

#sub-section{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-small{
    font-size: 1.1em;
    font-weight: lighter;
    color: white;
    width: 60%;
    margin: 0;
}


#explore-btn{
    background-color: #FF9945;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 0.5em 1.5em;
    color: black;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}

#services{
    width: 100%;
    height: fit-content;
    padding: 2em;
    border-radius: 97px 97px 0px 0px;
    background: #334961;
    box-shadow: 0px -31px 49px 23px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}

#services-title{
    font-size: 2em;
    color: white;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#services-box-div{
    margin-top:2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.service-box{
    width: 30%;
    height: 460px;
    border-radius: 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#box-filter{
    width: 100%;
    height: 100%;
    border-radius: 43px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: grayscale(60%) ;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-text{
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 100%;
}

#box-1{
    background: url(../assets/box-1.jpg) center center no-repeat;
}

#box-2{
    background: url(../assets/box-2.jpg) center center no-repeat;
}

#box-3{
    background: url(../assets/box-3.jpg) center center no-repeat;
}

#why-canada{
    background-color: white;
    padding: 2em;
    display: flex;
    flex-direction: row;
}

#image-box{
    width: 40%;
    border-radius: 37px;
    border: 1px solid #F00;
    aspect-ratio: 1/1;
    background: url(../assets/why-canada.jpg) lightgray 50% / cover no-repeat;
}

#why-canada-text{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2em;
    justify-content: space-evenly;
}

#why-canada-title{
    font-size: 4em;
    color:  #334961;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#why-canada-subtitle{
    font-size: 1em;
    color:  #334961;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#canada-title-text{
    display: inline-block;
    color: #F22316;
    font-family: 'Lora', sans-serif;
    font-size: 76px;
    font-style: normal;
}